<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="stylesheets/css/load.css">
<link rel="stylesheet" href="stylesheets/iconfont/iconfont.css">
</head>
<body>
	<div class="bgs">
		<img src="stylesheets/img/bg.jpg" class="img-bg">
		<img src="stylesheets/img/bar.png" class="img-bar">
		<img src="stylesheets/img/ecshop-logo.png" class="img-logo">
		<img src="stylesheets/img/shopex.png" class="img-shopex">
		<div class="loading">
			<div class="divLoad">
				<div class="divName">	
					<input type="text" placeholder="用户名" class="iptName" style="padding-left:50px;">
				</div>
				<div class="divPassword">
					<input type="text" placeholder="密码" class="iptPassword" style="padding-left:50px;">
				</div>
				<div class="divVer">
					<input type="text" placeholder="验证码" class="iptVer" style="padding-left:50px;">
					<div class="ver">
						
					</div>
				</div>
				<input type="button" value="登录" class="btnLoad" onclick="load()">
				
				<div class="divSel">
					<input type="checkbox" checked="checked">
					<span class="spanSel">保存登录信息</span>
					<a href="" class="aa">忘记密码？</a>
					<a href="">去店铺首页>></a>
				</div>
			</div>			
		</div>
	</div>	
	
</body>
<script>
		function load(){

			$.ajax({
				url : "/api/load5ajax",
				type : "post",
				data : {
					userName : $(".iptName").val(),
					psw : $(".iptPassword").val(),
					
				},
				success : function(res){

					if(res.code==1){
						location.href = "/shangs?r=" + new Date().getTime();
						//location.href = "/home?r=" + new Date().getTime();
					}
					
					else{
						alert(res.message);
					}
				}
			})
		}
	</script>


</html>




<script type="text/javascript" src="js/jquery-1.11.3.js"></script> 

<script type="text/javascript" src="js/load.js"></script>