<html>
<head>
<meta charset="UTF-8">
<title>shangs</title>
</head>
<style>
*{margin:0px;padding:0px;}

</style>
<frameset rows="120,*" framespacing="0" border="0">
	<frame id="top" src="/html/top.html" scrolling="no" frameborder="no">
	<frameset id="frame-body" cols="180,10,*" framespacing="0" border="0" >
		<frame id="left" src="/html/left.html" frameborder="no" scrolling="no" />
		<frame id="middle" src="/html/middle.html" frameborder="no" scrolling="no" />	
		<frame id="right" name="right" src="/html/right.html" frameborder="no" scrolling="yes" />
		
	</frameset>	
</frameset>
</html>
<script>
	
</script>