* {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.midd {
  float: left;
  width: 10px;
  background: #333;
  height: 600px;
  position: relative; }
  .midd #arrow {
    width: 10px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -5px;
    background: url(../../stylesheets/img/arrow1.jpg) no-repeat center; }
